//-------------RENAME THIS FILE TO ".env.local"-------------//


//-------------ADD YOUR RPC URL and PROJECT KEYS HERE-------------//
NEXT_PUBLIC_GOERLI_RPC_URL = 
NEXT_PUBLIC_PROJECTID = 
NEXT_PUBLIC_PROJECTSECRETEKEY = 
NEXT_PUBLIC_SUBDOMAIN = 







