.audioCard_box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 4rem);
  gap: 1rem;
  overflow: hidden;
  transition: all 0.3s ease-in;
  border-radius: 2rem;
}

.audioCard_box:hover {
  box-shadow: var(--box-shadow);
}

/* Like and Time */

.audioCard_box_like_time {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  line-height: 0;
  z-index: 123;
}

.audioCard_box_like {
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 1.3rem;
  border-radius: 2rem;
  cursor: pointer;
  margin: 1rem;
  overflow: hidden;
}

.audioCard_box_like_icon {
  color: var(--main-bg-color);
  font-size: 2rem;
}
.audioCard_box_like_icon_unlike {
  color: var(--main-bg-color);
  font-size: 2rem;
}

.audioCard_box_time {
  background-color: var(--main-bg-color);
  padding: 1rem 4.5rem;
  margin-right: -1.4rem;
  transform: skewX(35deg);
  border-bottom-left-radius: 1rem;
}

.audioCard_box_time_remaing {
  transform: skewX(-35deg);
  text-align: center;
}

.audioCard_box_time_remaing small {
  font-weight: 500;
}

.audioCard_box_time_remaing h5 {
  font-size: 1.5rem;
  margin-top: 1.6rem;
}

/* Audio Player Icon */

.audioCard_box_player {
  grid-column: 1 / -1;
  grid-row: 4 / 5;

  display: flex;
  padding-inline: 3rem;
  gap: 4rem;
  z-index: 1234;
  align-items: center;
}

.audioCard_box_musicPlayer_icon {
  padding: 1.3rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  font-size: 2rem;
  cursor: pointer;
}

/* Card Images  */
.audioCard_box_img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

/* Card Details */
.audioCard_box_details {
  grid-column: 1 / -1;
  grid-row: 5 / -1;

  z-index: 123;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  padding: 1rem 0;
  width: 90%;
  border-top-right-radius: 2rem;
  padding: 2rem;
  line-height: 0.1;
}

.audioCard_box_details_info h4 {
  font-size: 1.1rem;
  line-height: 0;
}

.audioCard_box_details_info_price {
  border: 1px solid var(--icons-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  height: 3.5rem;
  cursor: pointer;
}

.audioCard_box_details_info_price small {
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
}

.audioCard_box_details_info_price p {
  line-height: 1.2;
  font-weight: 700;
}

.audioCard_box_details_stock {
  text-align: end;
  display: grid;
}

.audioCard_box_details_stock small {
  margin-top: 2rem;
}

/* Media queries */

@media screen and (max-width: 35em) {
  .audioCard_box_time {
    padding-inline: 2.5rem;
  }

  .audioCard_box_like_time_remaing h5 {
    font-size: 1rem;
  }

  .audioCard_box_details {
    padding: 1rem;
  }

  .audioCard_box_player_wave {
    width: 50%;
  }
}

@media screen and (min-device-width: 427px) and (max-device-width: 768px) {
  .audioCard_box_like_time_remaing h5 {
    font-size: 1rem;
  }
  .audioCard_box_player_wave {
    width: 50%;
  }
}

@media screen and (min-device-width: 770px) and (max-device-width: 1200px) {
  .audioCard_box_time {
    padding: 1rem 2rem;
  }

  .audioCard_box_like_time_remaing h5 {
    font-size: 1rem;
  }

  .audioCard_box_details_info h4 {
    font-size: 1rem;
  }
  .audioCard_box_player_wave {
    width: 50%;
  }
}
