.bigNFTSlider_box {
  margin: 0 auto;
  width: 80%;
  padding-block: 8rem;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.bigNFTSlider_box_left {
  grid-column: 1 / 7;
  grid-row: 1 / -1;
  background-color: var(--main-bg-color);
  box-shadow: var(--box-shadow-2);
  border-radius: 1rem;
  padding: 2rem;
  z-index: 1111;
  height: 80vh;
}

.bigNFTSlider_box_left h2 {
  font-size: 3rem;
  line-height: 0;
}

.bigNFTSlider_box_right {
  grid-column: 6 / -1;
  grid-row: 1 / -1;
  padding: 1rem;
  background-color: var(--main-bg-color);
  border-radius: 2.5rem;
  box-shadow: var(--box-shadow-2);
}

/* //CREATOR SECTION */
.bigNFTSlider_box_left_creator {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.bigNFTSlider_box_left_creator_profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bigNFTSlider_box_left_creator_profile_img {
  border-radius: 50%;
}

.bigNFTSlider_box_left_creator_profile_info {
  line-height: 0;
}

.bigNFTSlider_box_left_creator_profile_info p {
  margin-bottom: -0.7rem;
  margin-top: 1rem;
}

.bigNFTSlider_box_left_creator_collection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bigNFTSlider_box_left_creator_collection_icon {
  font-size: 4rem;
}

.bigNFTSlider_box_left_creator_collection_info {
  line-height: 0;
}

.bigNFTSlider_box_left_bidding_box {
  border: 3px solid var(--shadow-dark-color);
  margin-block: 2rem;
  padding: 0 4rem;
  border-radius: 0.5rem;
}

.bigNFTSlider_box_left_bidding_box_auction {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bigNFTSlider_box_left_bidding_box small {
  background-color: var(--shadow-dark-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.bigNFTSlider_box_left_bidding_box_icon {
  font-size: 2rem;
}

.bigNFTSlider_box_left_bidding_box_timer {
  display: flex;
  align-items: center;
  gap: 3rem;
  text-align: center;
  padding: 1rem 0rem 3rem 0;
  border-bottom: 1px solid var(--shadow-dark-color);
}

.bigNFTSlider_box_left_bidding_box_timer_item p {
  font-size: 2rem;
  font-weight: 900;
  line-height: 0;
}

.bigNFTSlider_box_left_button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding-block: 2rem 0rem;
}

.bigNFTSlider_box_left_sliderBtn {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  margin-top: 3rem;
}

.bigNFTSlider_box_left_sliderBtn_icon {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.bigNFTSlider_box_left_sliderBtn_icon:hover {
  background-color: var(--shadow-dark-color);
  border-radius: 50%;
  padding: 1rem;
}

/* //---RIGHT SECTION */

.bigNFTSlider_box_right_box {
  position: relative;
}

.bigNFTSlider_box_right_box_img {
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
}

.bigNFTSlider_box_right_box_like {
  position: absolute;
  top: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
}

/* Media Query */

@media screen and (max-width: 55em) {
  .bigNFTSlider_box {
    margin: 4rem auto;
    width: 90%;
    padding-top: 28rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .bigNFTSlider_box_left {
    height: 95vh;
    padding: 1.5rem;
  }

  .bigNFTSlider_box_right {
    margin-top: -50rem;
  }

  .bigNFTSlider_box_left_creator {
    gap: 1rem;
    grid-template-columns: 1.8fr 1fr;
  }

  .bigNFTSlider_box_left_creator_profile_info {
    font-size: 0.8rem;
    line-height: 1;
  }

  .bigNFTSlider_box_left_creator_collection_icon {
    font-size: 1.5rem;
  }

  .bigNFTSlider_box_left_creator_collection_info {
    font-size: 0.8rem;
  }

  .bigNFTSlider_box_left_bidding_box_timer {
    gap: 2rem;
  }

  .bigNFTSlider_box_left_bidding_box_timer_item p {
    font-size: 1rem;
  }
  .bigNFTSlider_box_right_box_img {
    width: 100%;
  }
}

@media screen and (min-width: 370px) and (max-width: 390px) {
  .bigNFTSlider_box {
    margin: 5rem auto;
    width: 90%;
    padding-top: 28rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .bigNFTSlider_box_left {
    height: 95vh;
    padding: 1.5rem;
  }

  .bigNFTSlider_box_right {
    margin-top: -50rem;
  }
}

@media screen and (min-width: 390px) and (max-width: 500px) {
  .bigNFTSlider_box {
    width: 90%;
    padding-top: 28rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .bigNFTSlider_box_left {
    height: 75vh;
    padding: 1.5rem;
  }

  .bigNFTSlider_box_right {
    margin-top: -50rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 770px) {
  .bigNFTSlider_box {
    width: 80%;
    padding-top: 28rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .bigNFTSlider_box_left {
    height: 80vh;
    padding: 1.5rem;
  }

  .bigNFTSlider_box_right {
    margin-top: -50rem;
  }
}

@media screen and (min-width: 771px) and (max-width: 1080px) {
  .bigNFTSlider_box {
    width: 60%;
    padding-top: 28rem;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .bigNFTSlider_box_left {
    height: 110vh;
    padding: 1.5rem;
  }

  .bigNFTSlider_box_right {
    margin-top: -60rem;
  }
}
