.audioPlayer_box {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  align-items: center;
  gap: 1.3rem;
  line-height: 0;
  background-color: var(--bg-shadow-dark-color);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  height: 8rem;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.audioPlayer_box:hover {
  box-shadow: var(--box-shadow);
}

.audioPlayer_box_info_box {
  display: flex;
  gap: 1rem;
}

.audioPlayer_box_img {
  border-radius: 0.5rem;
}

.audioPlayer_box_info_box_price {
  border: 1px solid var(--icons-color);
  font-size: 0.8rem;
  width: 4rem;
  font-weight: 600;
  border-radius: 0.2rem;
}

.audioPlayer_box_info_box_price small {
  background-color: var(--icons-color);
  color: var(--main-bg-color);
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
}

.audioPlayer_box_info_box_price p {
  margin-top: 1rem;
}

.audioPlayer_box_playBtn {
  font-size: 2rem;
  background-color: var(--icons-color);
  border-radius: 50%;
  color: var(--main-bg-color);
  padding: 1rem;
  cursor: pointer;
}

@media screen and (min-device-width: 320px) and (max-device-width: 375px) {
  .audioPlayer_box_img {
    width: 110%;
  }
}
