.author_box {
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (min-device-width: 322px) and (max-device-width: 599px) {
  .author_box {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .author_box {
    grid-template-columns: repeat(2, 1fr);
  }
}
